root = true
[*]
end_of_line=crlf
insert_final_newline = true

# Code files
[*.{cs,cshtml,ts}]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,props}]
indent_style = space
indent_size = 2

# Analyzers
[*.cs]
# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = warning

# QW0003: Decorate Pure functions
dotnet_diagnostic.QW0003.severity = warning

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# S3376: Attribute, EventArgs, and Exception type names should end with the type being extended
dotnet_diagnostic.S3376.severity = none
